bin
include
lib
lib64
pyvenv.cfg
tags

.eggs:
pytest_runner-5.3.1-py3.9.egg
README.txt

src/{{cookiecutter.package_name}}.egg-info:
dependency_links.txt
entry_points.txt
PKG-INFO
requires.txt
src/{{cookiecutter.package_name}}/version.py
SOURCES.txt
top_level.txt
__pycache__/
.coverage
coverage.xml
htmlcov
.idea
.cache/
